.section-header {
  .header-wrapper {
    background-color: #85ABBD;
    transition: background-color .3s;
  }

  &.shopify-section-header-sticky {
    .header-wrapper {
      background-color: #F4EDE5;
    }

    header {
      .header__heading-logo-wrapper {
        svg {
          path {
            fill: #000;
          }
        }
      }
    }
  }

  header {
    @include breakpoint(989px) {
      grid-template-areas: "heading icons left-icons" !important;
    }  
  
    &.header--middle-left {
      grid-template-columns: 1fr auto auto;
  
      @include breakpoint(989px) {
        grid-template-columns: auto 1fr auto;
      }  
    }
  
    .header__heading-logo-wrapper {
      svg {
        path {
          transition: fill .3s;
          fill: #E3FF21;
        }
      }
    }
  
    .header__icons {
      @include breakpoint(989px) {
        padding-right: 2.8rem;
      }  
    }
  }
}





#menu-drawer {
  background: #85abbd;
}