.section-header {
  position: relative;
  
  .header-wrapper {
    background-color: #85ABBD;
    transition: .3s ease;
    // height: 100px;

    &.exploded {
      // height: 350px;

      header {
        margin-bottom: 0;
      }

      .header-intro {
        padding-top: 2rem;
        padding-bottom: 5rem;
        height: auto;
      }

      .logo-wrapper {
        left: auto;
        margin-top: auto;
        bottom: 0;
        width: 65%;

        @include breakpoint(1023px) {
          width: 50%;
        }

        @include breakpoint(767px) {
          width: 100%;
          margin-bottom: 20px;
        }
      }

      .intro-text {
        opacity: 1;
        top: 0;
        height: auto;
        overflow: hidden;

      }

    }

    .header-intro {
      transition: .4s ease-out;
      padding-top: 0;
      padding-bottom: 0;
      // top: -245px;
      position: relative;

      svg,
      .header__heading-logo {
        width: 100%;
        height: 100%;
      }

      path {
        fill: #E3FF21;
      }
    }

    .logo-wrapper {
      transition: .3s ease-out;
      bottom: 25px;
      width: 180px;

      @include breakpoint(1023px) {
        bottom: 25px;
      }

      @include breakpoint(989px) {
        width: 105px;
        bottom: -5px;
      }
     
    }

    .intro-text {
      opacity: 0;
      transition: opacity .2s ease-out;
      top: -25px;
      position: relative;
      height: 0;
      
      @include breakpoint(989px) {
        top: 0;
      }
    }

    header {
      overflow-x: hidden;
      transition: .3s ease;
      margin-bottom: -50px;
      z-index: -1;

      @include breakpoint(1023px) {
        margin-bottom: -50px;
      }
    }

  }

  &.shopify-section-header-sticky {
    .header-wrapper {
      background-color: #F4EDE5;
      height: 100px;

      @include breakpoint(989px) {
        height: 60px;
      }
    }

    .header-intro {
      path {
        transition: fill .3s;
        fill: #000;
      }
    }

    #menu-drawer {
      background: #f4ede5;
    }
  }

  header {
    height: 100px;
    @include breakpoint(989px) {
      grid-template-areas: "icons left-icons heading"!important;
      position: initial;
      height: 60px;
    }  
  
    &.header--middle-left {
      grid-template-columns: 1fr auto auto;
  
      @include breakpoint(989px) {
        grid-template-columns: 1fr;
      }  
    }

    .header__icons {
      @include breakpoint(989px) {
        padding-right: 2.8rem;
      }  
    }
  }

}

#menu-drawer {
  background: #85abbd;
  z-index: 15;
  position: fixed;
  left: 0;
  top: 58px;
  height: 100%;
}

.header__icon--menu[aria-expanded=true] {
  &:before {
    z-index: 15;
  }
}