.section-header {
  position: relative;
  
  .header-wrapper {
    background-color: #85ABBD;
    transition: background-color .2s;

    &.exploded {
      .header-intro {
        padding-top: 2rem;
        padding-bottom: 5rem;
        height: auto;
      }

      .logo-wrapper {
        scale: 1;
        left: auto;
        margin-top: auto;
      }

      .intro-text {
        opacity: 1;
        top: 0;
      }
    }

    .header-intro {
      transition: .4s ease-out;
      height: 0;
      padding-top: 0;
      padding-bottom: 0;

      svg,
      .header__heading-logo {
        width: 100%;
        height: 100%;
      }

      path {
        fill: #E3FF21;
      }
    }

    .logo-wrapper {
      transition: .3s ease-out;
      margin-top: -77px;
      scale: .27;
      left: 20px;

      @include breakpoint(1023px) {
        margin-top: -135px;
        scale: .3;
        left: 20px;
      }

      @include breakpoint(989px) {
        margin-bottom: 20px;
        margin-top: -78px;
        left: 0;
      }

      @include breakpoint(767px) {
        margin-top: -46px;
        scale: .2;
      }

      @include breakpoint(767px) {
        scale: .2;
      }

      @include breakpoint(540px) {
        scale: .3;
      }
    }

    .intro-text {
      opacity: 0;
      transition: opacity .21s ease-out;
      top: -45px;
      position: relative;
      
      @include breakpoint(989px) {
        top: 0;
      }
    }

  }

  &.shopify-section-header-sticky {
    .header-wrapper {
      background-color: #F4EDE5;
    }

    .header-intro {
      path {
        transition: fill .3s;
        fill: #000;
      }
    }

    #menu-drawer {
      background: #f4ede5;
    }
  }

  header {
    height: 100px;
    @include breakpoint(989px) {
      grid-template-areas: "icons left-icons heading"!important;
      position: initial;
      height: 60px;
    }  
  
    &.header--middle-left {
      grid-template-columns: 1fr auto auto;
  
      @include breakpoint(989px) {
        grid-template-columns: 1fr;
      }  
    }

    .header__icons {
      @include breakpoint(989px) {
        padding-right: 2.8rem;
      }  
    }
  }

  &.menu-open {
    header {
      &.header--state__exploded {
        .header__heading-logo-wrapper {
          opacity: 1 !important;
        }
      }
    }
    
  }
}

#menu-drawer {
  background: #85abbd;
  z-index: 15;
  position: fixed;
  left: 0;
  top: 58px;
  height: 100%;
}

.header__icon--menu[aria-expanded=true] {
  &:before {
    z-index: 15;
  }
}