.hero-banner {
  transition: .3s ease;
  margin: auto;
  padding: 40px 0;

  @include breakpoint(1023px) {
    padding: 20px;
  }

  img {
    transition: .3s ease;
    max-width: 1398px;

    @include breakpoint(1024px) {
      max-width: 1024px;
    }
  
    @include breakpoint(768px) {
      max-width: 768px;
    }
  
    @include breakpoint(640px) {
      max-width: 640px;
    }
  }

  &.exploded {
    transition: .3s ease;
    padding: 0;

    img {
      transition: .3s ease;
      max-width: 100%;
    }
  }

}