<section class="featured-products  pt-10 pb-32 overflow-hidden {% if section.settings.bg_color != blank %} bg-[#F4EDE5] {% endif %}">
  
  <div class="container mx-auto sm:px-0 lg:px-8">

    {% if section.settings.heading != blank %}
      <h2 class="font-GT text-[80px] uppercase font-normal leading-80 tracking-normal text-center pb-14">{{ section.settings.heading }}</h2>
    {% endif %}

    <div class="featured-product__items  {% unless section.blocks.size > 3 %} grid gap-[1px] sm:grid-cols-2 md:grid-cols-3 {% endunless %}">
      {% render 'featured-product-item' for section.blocks as block %}
    </div><!-- featured-product__items -->

    {%- if section.settings.link_url != blank and section.settings.link_label != blank -%}
      <a href="{{ section.settings.link_url }}" class="font-Platform font-medium mt-[50px] text-black block text-center underline uppercase tracking-[0.25em]">
        {{ section.settings.link_label }}
      </a>
    {%- endif -%}

  </div>
</section>


{% schema %}
{
  "name": "Featured Products",
  "settings": [
    {
      "type": "color",
      "id": "bg_color",
      "label": "Background Color",
      "default": "#fff"
    },
    {
      "type": "text",
      "id": "heading",
      "label": "Heading",
      "placeholder": "Section heading"
    },
    {
      "type": "url",
      "id": "link_url",
      "label": "Link URL"
    },
    {
      "type": "text",
      "id": "link_label",
      "label": "Link Label"
    }
  ],
  "blocks": [
    {
      "type": "product",
      "name": "Product",
      "settings": [
        {
          "type": "product",
          "id": "product",
          "label": "Select Product"
        }
      ]
    }
  ],
  "presets": [
    {
      "category": "Featured Products",
      "name":"Featured Products"
    }
  ]
}
{% endschema %}