@font-face {
  font-family: 'GT-Super'; 
  src: url('./GT-Super-Display-Light.woff2') format('woff2'), 
       url('./GT-Super-Display-Light.woff') format('woff');
}

@font-face {
  font-family: 'Platform'; 
  src: url('./platform-regular-webfont.woff') format('wofff');
  font-weight: 400;
}

@font-face {
  font-family: 'Platform'; 
  src: url('./platform-medium-webfont.woff') format('wofff');
  font-weight: 500;
}